---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Affiliated Hospitals</Fragment>
      <Fragment slot="desc">World-Class, Private.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Affiliated Hospitals You Can Trust
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We partner with top-rated hospitals to ensure the best medical care and facilities for our patients.
      </p>
    </div>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      <!-- Hospital 1 -->
      <div class="group flex flex-col items-center">
        <div class="w-full flex justify-center h-40">
          <img
            src="/src/assets/Beyhekim.png"
            alt="Hospital 1"
            class="max-h-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-contain"
          />
        </div>
        <div class="mt-4 text-center">
          <h2 class="text-lg font-semibold text-gray-800">Beyhekim Hospitals</h2>
          <h3 class="text-sm text-slate-500">Location: Sakarya</h3>
        </div>
      </div>

      <!-- Hospital 2 -->
      <div class="group flex flex-col items-center">
        <div class="w-full flex justify-center h-40">
          <img
            src="/src/assets/adatip.png"
            alt="Hospital 2"
            class="max-h-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-contain"
          />
        </div>
        <div class="mt-4 text-center">
          <h2 class="text-lg font-semibold text-gray-800">Adatip Hospitals</h2>
          <h3 class="text-sm text-slate-500">Location: Sakarya</h3>
        </div>
      </div>

      <!-- Hospital 3 -->
      <div class="group flex flex-col items-center">
        <div class="w-full flex justify-center h-40">
          <img
            src="/src/assets/medar.png"
            alt="Hospital 3"
            class="max-h-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-contain"
          />
        </div>
        <div class="mt-4 text-center">
          <h2 class="text-lg font-semibold text-gray-800">Medar Hospitals</h2>
          <h3 class="text-sm text-slate-500">Location: Sakarya</h3>
        </div>
      </div>
    </div>
  </Container>
</Layout>
