---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Basic Consultation",
    price: "Free",
    popular: false,
    features: [
      "Talk to an expert for free",
      "Initial consultation",
      "Expert guidance",
      "Personalized recommendation",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Specialist Consultation",
    price: {
      monthly: "€20",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "One-on-one consultation",
      "Detailed review of medical history",
      "Tailored treatment planning",
      "Procedure recommendations",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Full Treatment Package",
    price: "Custom",
    popular: false,
    features: [
      "Flights to and from Istanbul",
      "5-star luxury spa hotel stay",
      "World-class private medical care",
      "Care from arrival to recovery",
      "Cultural Istanbul tour",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
