---
import Link from "./ui/link.astro";
import '@fortawesome/fontawesome-free/css/all.min.css';
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Contact us now.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    We are here for you 24/7.
  </p>
  <div class="flex mt-5 space-x-4">
    <Link href="https://wa.me/your-number" style="inverted" class="flex items-center space-x-2">
      <i class="fab fa-whatsapp text-green-500"></i>
      <span>WhatsApp</span>
    </Link>
    <Link href="https://www.messenger.com/t/your-facebook-page" style="inverted" class="flex items-center space-x-2">
      <i class="fab fa-facebook-messenger text-blue-500"></i>
      <span>Facebook Messenger</span>
    </Link>
    <Link href="https://www.instagram.com/your-profile/" style="inverted" class="flex items-center space-x-2">
      <i class="fab fa-instagram text-pink-500"></i>
      <span>Instagram DMs</span>
    </Link>
    <Link href="https://t.me/your-telegram-username" style="inverted" class="flex items-center space-x-2">
      <i class="fab fa-telegram text-blue-400"></i>
      <span>Telegram</span>
    </Link>
  </div>
</div>

