---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Everything You Need for a Premium Medical Journey",
    description:
      "We offer a comprehensive experience, ensuring your journey to health and wellness is seamless, luxurious, and stress-free.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "World-Class Private Hospitals",
    description:
      "Receive treatment from top-rated private hospitals in Turkey, known for their cutting-edge technology and expert medical staff.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Personalized Care",
    description:
      "From the initial consultation to post-treatment support, we provide personalized care tailored to your needs.",
    icon: "bx:bxs-data",
  },
  {
    title: "Luxurious Accommodations",
    description:
      "Enjoy your stay at a 5-star hotel with spa amenities surrounded by the serene nature of Sapanca.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Explore Istanbul",
    description:
      "Take a guided tour of Istanbul’s iconic landmarks, blending your treatment journey with cultural enrichment.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Dedicated Support",
    description:
      "Our team is available 24/7 to ensure every aspect of your trip is handled with care and professionalism.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Redefining Medical Tourism with Luxury and Care
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Discover a new standard in health and wellness: world-class treatments, bespoke services, 5-star indulgence, and unforgettable experiences — all seamlessly curated for you.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
