---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Certified and Trusted Partners</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img class="h-16 md:h-20" src="/src/assets/ktb.png" alt="KTB Logo" />
    <img class="h-16 md:h-20" src="/src/assets/health.png" alt="Health Logo" />
    <img class="h-16 md:h-20" src="/src/assets/iso.png" alt="ISO Certification Logo" />
    <img class="h-16 md:h-20" src="/src/assets/ng.svg" alt="NG Sapanca Logo" />
    <img class="h-16 md:h-20" src="/src/assets/Sakarya-logo.png" alt="Sakarya Logo" />
  </div>
</div>
